[submodule "sprintf"]
	path = sprintf
	url = https://github.com/alexei/sprintf.js.git
[submodule "steal"]
	path = steal
	url = https://github.com/bitovi/steal.git
[submodule "can"]
	path = can
	url = https://github.com/bitovi/canjs.git
[submodule "documentjs"]
	path = documentjs
	url = https://github.com/bitovi/documentjs.git
[submodule "jmvc"]
	path = jmvc
	url = https://github.com/bitovi/jmvc-generators.git
